.button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  min-width: 200px;

  box-sizing: border-box;
  padding: 10px 5px;

  position: relative;

  &.button-hover {
    backdrop-filter: blur(10px);
  }

  .arrow {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #ff7f51;
    // color: black;
  }

  .button-text {
    margin: 0;
    padding: 0;

    font-size: 20px;
    font-style: normal;
    font-family: "Albert Sans", sans-serif;
    font-weight: 400;
    color: #ff7f51;
    // color: black;
  }

  .bar {
    width: 0%;
    height: 3px;
    background: #ff6f91;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out;

    &.bar-hover {
      width: 100%;
    }
  }
}
